{
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "modules": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "jsx": true
  },
  "rules": {
    "no-undef": 2,
    "semi": 2,
    "eqeqeq": 2,
    "quotes": [2, "single"]
  }
}
